*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  display: block;
  font-size: 10px;
}

.container {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0 auto;
  padding-top: 10%;
  max-width: 1024px;
}

.container h1 {
  text-align: center;
  padding: 0 0 25px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.preview {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 300px;
  width: auto;
  margin: 0 0 15px 0;
}

.preview h1 {
  font-size: 24px;
  font-family: serif;
  padding: 30px;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0;
}

.baku {
   background-image: url(../images/baku.jpg);
   background-size: cover;
   background-position: left;
}

.london {
   background-image: url(../images/london.png);
   background-size: cover;
   background-position: left;
 }

.madrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-position: left;
}

.rome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-position: left;
}

@media screen and (min-width: 575px) {
  .container {
    padding-top: 10%;
    width: 100%;
  }

  .preview {
    float: right;
    margin: 1%;
    width: 48%;
    height: 200px;
  }

  .preview h1 {
    padding: 30px;
  }
}

@media screen and (min-width: 991px) {
  .container {
    padding-top: 2%;
  }

  .preview {
    float: left;
    margin: 1%;
    width: 23%;
  }

  .preview h1 {
    padding: 20px;
  }
}
